body {
  background: #00ae00;
}
.drop {
  position: absolute;
  left: 0px;
  top: -10px;
  width: 1px;
  height: 15px;
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  transform: rotate(50deg);
}
.state {
  font-size: 10px;
  font-family: tahoma;
  color: #333;
}
